<?xml version="1.0"?>
<config>
    <modules>
        <Dp_Customer>
            <version>1.0.0</version>
        </Dp_Customer>
    </modules>
    <global>
        <helpers>
            <dp_customer>
                <class>Dp_Customer_Helper</class>
            </dp_customer>
        </helpers>
        <blocks>
          <dp_customer>
            <class>Dp_Customer_Block</class>
          </dp_customer>
        </blocks>
        <models>
            <dp_customer>
                <class>Dp_Customer_Model</class>
            </dp_customer>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <dp_customer>
                    <file>dp_customer.xml</file>
                </dp_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dp_Customer>
                    <files>
                        <default>Dp_Customer.csv</default>
                    </files>
                </Dp_Customer>
            </modules>
        </translate>
        <routers>
          <dp_customer>
            <use>standard</use>
              <args>
                <module>Dp_Customer</module>
                <frontName>permanantreg</frontName>
              </args>
          </dp_customer>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <dp_customer>
                        <class>dp_customer/observer</class>
                        <method>customerLogin</method>
                    </dp_customer>
                </observers>
            </customer_login>
            <controller_action_predispatch>
                <observers>
                    <dp_customer>
                        <type>model</type>
                        <class>dp_customer/observer</class>
                        <method>checkLogin</method>
                    </dp_customer>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
</config>